*{
    margin:0px;
    padding:0px;
}


$primaryblack: #181b21;
$primarywhite: #f5f5f5;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "komponenter/bottombutton";
@import "komponenter/footer";
@import "komponenter/navbar";
@import "komponenter/maintext";
@import "utilities/textstyle";
@import "utilities/menybutton";
@import "utilities/container1200w";


.logo-img{
    width:8rem;
    margin-left: 1rem;
}
body{
    font-family: 'Lato', sans-serif;}
html { 
    background: url(images/car.jfif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }