h1{
    color: $primaryblack;
    font-size: 3rem;
}
a{
    font-size: 1.3rem;
    text-decoration: none;
    color: $primaryblack;
    padding:10px;
}
a.underlinetext{
    font-size: 1.1rem;
    width: fit-content;
    display: inline-block;
    margin: 0 auto;
}