.menybutton{
    background: rgba($primaryblack, 0.15);
    border:none;
    border-radius: 15px;
    max-height: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
    width: 6rem;
    @media screen and (min-width: 1200px){
        display:none;
    }
}