.navbar{
    background-color: transparent;
    ul{
        margin:0px;
        li{
                display:flex;
                list-style: none;
                justify-content: space-between;
        }
    }   
}
.meny-button-text-container{
    padding-top: 2rem;
    padding-right: 1.5rem;
    display: none;
    .meny-button-text{
        color:$primaryblack;
    }
}

.model-button-container{
    padding-top: 2rem;

    display:none;
}
