.navbar{
    background-color: transparent;
    ul{
        margin:0px;
        padding:0.5rem;
        li{
                display:flex;
                list-style: none;
                justify-content: space-between;
        }
    }
}